
<link rel="stylesheet" type="text/css" href="https://mango0cake.github.io///style.css">

<!DOCTYPE html>

<html>
<head>

body {
    background-color:#DBCDF4;
body {
    font-family: 'Be Vietnam Pro';font-size: 22px;
}

body {
    background-color:#DBCDF4;

.button {
    background-color: #fee1b8;
    color: #a17e5d;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px 
}

.small-btn {
    width: 50px;
    height: 25px;
}

.medium-btn {
    width: 70px;
    height: 30px;
}

.big-btn {
    width: 90px;
    height: 40px;
}
